body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fefeff;
    font-family: Spartan;
}

.container {
    background-color: #1c2230;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.5rem;
}

nav>img {
    width: 130px;
    padding: 1rem 80rem 1rem 2rem;
}

nav>a {
    text-decoration: none;
    color: #d6d6da;
    margin-right: 3.2rem;
    padding-top: 1px;
    padding-bottom: 1px;
}

nav>a:hover {
    border-bottom: 1px solid;
    color: #fefeff;
    padding-top: 1px;
    padding-bottom: 1px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background-image: url("images/bg-curvy-desktop.svg");
    padding-bottom: 17rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.header>h1 {
    text-align: center;
    font-size: 2.7rem;
    padding-left: 29rem;
    padding-right: 29rem;
}

.header>p {
    text-align: center;
    font-size: 1.3rem;
    padding-left: 32rem;
    padding-right: 32rem;
    line-height: 2.2rem;
    margin-bottom: 3rem;
}

.header>a {
    text-decoration: none;
    color: #000000;
    background-color: #4ec6d4;
    margin-right: 4rem;
    padding: 1.2rem 8rem 1.2rem 8rem;
    border-radius: 45px;
    font-size: 1.5rem;
}

.header>a:hover {
    background-color: #8cdae4;
    color: #ffffff;
}

.features {
    background-color: #181f2b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 23rem;
    padding-right: 23rem;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 2rem 1.2rem 2rem;
}

.items>h2 {
    font-size: 25px;
}

.items>p {
    font-size: 15px;
    text-align: center;
    color: #d6d6da;
}

.productive {
    background-color: #181f2b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 7rem;
}

.productive>img {
    width: 900px;
    padding-left: 12rem;
}

.prod-txt>h1 {
    font-size: 2.7rem;
    padding-left: 6rem;
    padding-right: 19rem;
}

.prod-txt>p {
    font-size: 15px;
    padding-left: 6rem;
    padding-right: 19rem;
    color: #d6d6da;
}

.prod-txt>a {
    text-decoration: none;
    color: #d6d6da;
    margin-left: 6rem;
    font-size: 15px;
}

.prod-txt>a:hover {
    border-bottom: 1px solid;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181f2b;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 6rem;
    padding-bottom: 24rem;
    background-image: url("images/bg-quotes.png");
    background-repeat: no-repeat;
    background-position: 10.7% 8.8%;
}

.card-items {
    background-color: #21293c;
    margin-right: 2rem;
    padding: 1.5rem;
    box-shadow: 10px 10px 5px #1b232e;
}

.card-items>p {
    font-size: 15px;
    color: #d6d6da;
    line-height: 1.6rem;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.6rem;
}

.profile>img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 1.2rem;
}

.name>h5 {
    padding: 0;
    margin: 0;
}

.name>p {
    margin: 0;
    font-size: 10px;
}

.footer {
    padding-bottom: 5rem;
    background-color: #0c1524;
}

.footer>img {
    width: 130px;
    padding: 12rem 80rem 1rem 4rem;
}

.foot-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.address {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 4rem;
}

.address>img {
    width: 20px;
    height: 30px;
}

.address>p {
    padding-top: 0;
    margin-top: 0px;
    font-size: 18px;
    margin-left: 15px;
    width: 27rem;
    color: #d6d6da;
}

.contact {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 50px 280px;
    margin-top: 0;
}

.contact>p {
    margin-top: 0;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 62px;
    margin-left: 6.2rem;
}

.about>a {
    text-decoration: none;
    color: #d6d6da;
    margin-right: 4.2rem;
    padding-bottom: 12px;
    font-size: 18px;
}

.about>a:hover {
    color: #ffffff;
}

.con-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 29px;
    margin-left: 4rem;
}

.con-us>a {
    text-decoration: none;
    color: #d6d6da;
    margin-right: 3.2rem;
    padding-bottom: 12px;
    font-size: 18px;
}

.con-us>a:hover {
    color: #ffffff;
}

@media screen and (max-width: 375px) {
    nav>img {
        width: 120px;
        padding: 1rem 8rem 1rem 2rem;
    }
}